* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  /*background: linear-gradient(to right, #e52d27, #b31217);*/
  /*background: linear-gradient(to right, #0f2027, #203a43, #2c5364);*/
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . . . . . . ."
    ". title title title title title title title ."
    ". . box1 box2 box3 box3 box4 . ."
    ". . box1 box5 box5 box6 box7 . ."
    ". . box8 box5 box5 box9 box9 . ."
    ". . . . . . . . .";
  gap: 0.3em;
  height: 100vh;
}

.title {
  grid-area: title;
  /*
  background: none;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;*/
}

#text,
#shadow {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  letter-spacing: 20px;
  font-family: Bad Script;
  color: #fff;
}

#text {
  color: #333;
}

#shadow {
  text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff,
    0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
}

#glow {
  animation: neon1 linear infinite 2s;
  will-change: opacity;
}

#blink {
  animation: blink linear infinite 2s;
}

@keyframes neon1 {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0.6;
  }
}

@keyframes blink {
  70% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  92.5% {
    opacity: 1;
  }
}
/*      oooooooooooooooooooooooooooooooooooooooooooooo     */
/*      oooooooooooooooooooooooooooooooooooooooooooooo     */

.box1 {
  grid-area: box1;
  background: radial-gradient(#232526, #414245);
}
.box2 {
  grid-area: box2;
  background: radial-gradient(#232526, #414245);
}
.box3 {
  grid-area: box3;
  background: radial-gradient(#232526, #414245);
}
.box4 {
  grid-area: box4;
  background: radial-gradient(#232526, #414245);
}

.box5 {
  grid-area: box5;
  background: radial-gradient(#232526, #414245);
}

.box6 {
  grid-area: box6;
  background: radial-gradient(#232526, #414245);
}
.box7 {
  grid-area: box7;
  background: radial-gradient(#232526, #414245);
}

.box8 {
  grid-area: box8;
  background: radial-gradient(#232526, #414245);
}

.box9 {
  grid-area: box9;
  background: radial-gradient(#232526, #414245);
}
