* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.7fr 1fr 0.7fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "icon . . . ."
    ". logo logo logo ."
    ". box1 box2 box2 ."
    ". box3 box3 box3 ."
    ". box4 box5 box6 ."
    ". . . . .";
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ffb347, #ffcc33);
  gap: 0.7em;
}

.icon {
  grid-area: icon;
}

.icon img {
  width: 25%;
  opacity: 0.7;
  margin-left: 5px;
}

.box1 {
  grid-area: box1;
  /*background: radial-gradient(#232526, #414245);*/
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 24px;
  text-align: center;
  padding-top: 11px;
  border: solid 3px #414245;
  border-radius: 20px 5px 5px 5px;
}

.box2 {
  grid-area: box2;
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 24px;
  text-align: center;
  padding-top: 11px;
  border: solid 3px #414245;
  border-radius: 5px 20px 5px 5px;
}

.box3 {
  grid-area: box3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 44px;
  letter-spacing: 30px;
  text-align: center;
  padding-left: 15px;
  border: solid 3px #414245;
  border-radius: 5px;
}
.box4 {
  grid-area: box4;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5px;
  padding-left: 12px;
  align-items: center;
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 24px;
  text-align: center;
  border: solid 3px #414245;
  border-radius: 5px 5px 5px 20px;
}
.box5 {
  grid-area: box5;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 7px;
  align-items: center;
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 24px;
  text-align: center;
  padding-top: 6px;
  border: solid 3px #414245;
  border-radius: 5px;
}
.box6 {
  grid-area: box6;
  font-family: "Play", sans-serif;
  color: #232526;
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
  border: solid 3px #414245;
  border-radius: 5px 5px 20px 5px;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: glitch 3s linear infinite;
  font-size: 66px;
  font-family: "Fira Mono", monospace;
  letter-spacing: -7px;

  margin-top: 1px;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.logo:before,
.logo:after {
  content: attr(title);
  position: absolute;
}

.logo:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.logo:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
